<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Leif</title>
    <!-- Google fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;600&display=swap">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;600&display=swap"></noscript>
    <link rel="stylesheet" href="~/static/css/site.css" asp-append-version="true" />
</head>
<body>
<main>
    @RenderBody()
</main>
</body>
</html>